.heroo {
  background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.749)), url(../images/bg.jpg);
  height: 610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.heroo__text h1 {
  font-size: 40px;
  margin-bottom: 2em;
}


.about {
  padding: 3em 0;
}

.about h2,
.about .subtitle {
  text-align: center;
  margin-bottom: 1em;
}

.about .subtitle {
  width: 50%;
  margin: 0 auto;
  line-height: 1.8;
}

.about__container {
  background-color: #e5e7eb;
  margin: 2em auto;
  width: 90%;
  border-radius: 15px;
}

.about__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
}

.about__item__text {
  flex: 0 1 50%;
}

.about__item__text h3 {
  margin-bottom: 2em;
}

.about__item__text p {
  margin-bottom: 1em;
}

.about__img {
  flex: 0 1 45%;
}

.about__img img {
  border: 4px solid #000;
  border-radius: 4px;
}
