.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 20px;
  margin: 2em 0;
}

.gallery__item {
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.gallery__item img {
  transition: all 0.8s ease-in-out;
}

.gallery__item:hover img {
  scale: 1.5;
  filter: blur(5px) opacity(80%);
}
.gallery__item:hover {
  box-shadow: 10px 10px 40px #000;
}
